body {
    background-color: rgb(50, 50, 50);
}

h1, a, ul, ol, h2, p {
    color: white;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    background-color: rgb(35, 35, 35);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 62px;
}
ul, ol {
    font-size: 32px;
    list-style-position: inside;
    list-style-type: none;
}

p {
    font-size: 32px
}