body {
    background-color: rgb(50, 50, 50);
}

h1, a, ul, ol, h2, p, h3 {
    color: white;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    background-color: rgb(35, 35, 35);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 51px
}

ul, ol {
    font-size: 32px;
    list-style-position: inside;
    list-style-type: none;
}

p {
    font-size: 32px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
}